# API Base URL (Route to your Render backend API)
REACT_APP_API_URL=https://online-learning-management-system-jmzv.onrender.com/api

# Socket.io Server (Route to your Render backend root)
REACT_APP_SOCKET_URL=https://online-learning-management-system-jmzv.onrender.com
